@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tuffy:ital@1&display=swap');

.lastFont {
  font-family: "Cal Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.university{
  font-size: 12px;
}

.tuffy-regular-italic {
  font-family: "Tuffy", sans-serif;
  font-size: 50px;
  line-height: 40px;
  font-weight: bold;
  font-style: italic;
  color: #000;
  text-shadow:
    -3px -3px 0 #fff,
    3px -3px 0 #fff,
    -3px 3px 0 #fff,
    3px 3px 0 #fff,
    -3px 0px 0 #fff,
    3px 0px 0 #fff,
    0px -3px 0 #fff,
    0px 3px 0 #fff;
  text-align: center;
  position: absolute;
  top: -120px;
}


.pageBg {
  background: linear-gradient(to right, #5bbadc, #1e78b4);
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.boneco {
  /* filter: drop-shadow(0px 0px 1px #000000); */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: unset;
  height: 70%;
}

.buttonHub {
  /* width: 100%; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  bottom: 200px;
  right: 100px;
  flex-wrap: wrap;
}

.descHub {
  /* width: 100%; */
  /* background: #ff4545; */
  background: #64646486;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 7px;
  font-size: 30px;
  box-shadow: 0px 2px 5px #0000002b;
}

.messageLayout {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  font-size: 35px;
  max-width: 50%;
  position: absolute;
  right: 100px;
  background: #fff;
  border-radius: 6px;
  border-radius: 20px;
  /* position: absolute; */
  /* top: 20px; */
  padding: 40px;
  gap: 10px;
  box-shadow: 0px 2px 5px #0000002b;
}

.messageLayout.center {
  align-items: center;
}

.messageLayout div {
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

.messageLayout div::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  /* Change color as needed */
  transition: width 0.4s ease-in-out;
}

.messageLayout div:hover::after {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100px);
    /* Moves the element 20px down */
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out forwards;
}


.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.buttonHub button {
  font-size: 30px;
  border-radius: 20px;
}

@media (max-width: 1100px) {
  .tuffy-regular-italic {
    font-size: 30px;
    top: -120px;
  }

  .pageBg {
    background-position: unset;
    align-items: end;
  }

  .boneco {
    position: relative;
    left: unset;
    height: 60%;
  }

  .messageLayout {
    position: absolute;
    top: 20px;
    right: unset;
    font-size: 17px;
    max-width: 80%;
    padding: 20px;
  }

  .messageLayout.center {
    top: 105px;
  }

  .buttonHub {
    gap: 10px;
    bottom: 30px;
    right: unset;
    width: 100%;
  }

  .buttonHub button {
    font-size: 15px;
  }

  .messageLayout div::after {
    background: transparent;
  }

  .descHub {
    font-size: 16px;
  }

  .university{
    font-size: 9px;
  }
}