.pageBg {
  background: linear-gradient(to right, #5bbadc, #1e78b4);
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.boneco {
  /* filter: drop-shadow(0px 0px 1px #000000); */
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 70%;
}

.buttonHub {
  /* width: 100%; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  bottom: 200px;
  right: 100px;
  flex-wrap: wrap;
}

.descHub {
  /* width: 100%; */
  background: #64646486;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 7px;
  font-size: 30px;
  box-shadow: 0px 2px 5px #0000002b;
}

.messageLayout {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  font-size: 35px;
  max-width: 50%;
  position: absolute;
  right: 100px;
  background: #fff;
  border-radius: 6px;
  border-radius: 20px;
  /* position: absolute; */
  /* top: 20px; */
  padding: 40px;
  gap: 10px;
  box-shadow: 0px 2px 5px #0000002b;
}

.messageLayout div {
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

.messageLayout div::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  /* Change color as needed */
  transition: width 0.4s ease-in-out;
}

.messageLayout div:hover::after {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100px);
    /* Moves the element 20px down */
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out forwards;
}


.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.buttonHub button {
  font-size: 30px;
  border-radius: 20px;
}

@media (max-width: 1100px) {
  .pageBg {
    background-position: unset;
  }

  .boneco {
    left: unset;
    height: 60%;
  }

  .messageLayout {
    position: absolute;
    top: 20px;
    right: unset;
    font-size: 17px;
    max-width: 80%;
    padding: 20px;
  }

  .buttonHub {
    gap: 10px;
    bottom: 30px;
    right: unset;
    width: 100%;
  }

  .buttonHub button {
    font-size: 15px;
  }

  .messageLayout div::after {
    background: transparent;
  }

  .descHub {
    font-size: 16px;
  }
}